* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

.header {
    height: 7%;
    width: 100%;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-text {
    font-size: 28px;
}

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px;
    gap: 30px;
}

.book-card {
    border: 2px solid black;
    height: 300px;
    padding: 20px;
}

.card-content-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 4fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: center;
}

.book-title {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 18px;
}

.book-author {
    grid-area: 2 / 1 / 3 / 3;
    font-size: 16px;
    align-self: flex-start;
}

.book-description-main-text {
    grid-area: 3 / 1 / 4 / 3;
    font-size: 18px;
}

.book-description {
    grid-area: 4 / 1 / 5 / 3;
    font-size: 16px;
    align-self: flex-start;
}

.book-page-count {
    grid-area: 5 / 1 / 6 / 3;
}

.btn-read {
    grid-area: 6 / 1 / 7 / 2;
}

.btn-remove {
    grid-area: 6 / 2 / 7 / 3;
}

.btn-book-card {
    width: min(125px, 50%);
    height: 30px;
    justify-self: center;
}

.btn-book-card:hover {
    cursor: pointer;
}

.add-book-card-content-wrapper {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr 3fr;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.add-book-text {
    grid-row: 2 / 3;
}

.btn-add {
    grid-row: 3 / 4;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 26px;
}

.btn-add:hover {
    cursor: pointer;
}

.add-book-form-content-wrapper {
    height: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    grid-template-rows: repeat(4, 2fr) 1fr;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
